/* PseudoElements - After and Before */

body {
    margin: 0px;
}

.column {
    width: 40%;
}

.col-1 {
    /* background-color: lightblue; */
    float: left;
    /* width: 40%; */
}

.col-2 {
    /* background-color: lightcoral; */
    /* width: 40%; */
    float: right;
}

.row {
    /* border: 3px solid red; */
    background-color: red;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.div_1 {
    /* clear: both; */
    border: 3px solid #000;
}